<aside
  class="main-sidebar sidebar-dark-primary elevation-4"
  style="font-size: 20px;"
>
  <a class="brand-link" style="font-size: 20px;">
    <select class="select2" style="width: 100%;" id="biao-select2">
      <option value="19app2">
        19移动APP二班
      </option>
      <option>19移动APP二班</option>
      <option>19移动APP二班</option>
      <option>19移动APP二班</option>
      <option>19移动APP二班</option>
    </select>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block">
          <%= uinfo.name %>
        </a>
        <input
          type="text"
          value="<%= uinfo.uid %>"
          id="uid"
          style="display: none;"
        />
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="/admin/class" class="nav-link">
            <i class="nav-icon fa fa-calendar-check-o" aria-hidden="true"></i>
            <p>
              完成情况
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="/admin/list" class="nav-link">
            <i class="nav-icon fa fa-list" aria-hidden="true"></i>
            <p>
              作业列表
            </p>
          </a>
        </li> -->

        <li class="nav-item">
          <a href="/admin/task" class="nav-link">
            <i class="nav-icon fa fa-book" aria-hidden="true"></i>
            <p>
              作业要求
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="/admin/assets" class="nav-link">
            <i class="nav-icon fa fa-database"></i>
            <p>
              课件资料
            </p>
          </a>
        </li> -->
        <li class="nav-item">
          <a href="/admin/user" class="nav-link">
            <i class="nav-icon fa fa-user" aria-hidden="true"></i>
            <p>
              用户管理
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/course" class="nav-link">
            <i class="nav-icon fa fa-graduation-cap" aria-hidden="true"></i>
            <p>
              班级课程管理
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="https://github.com/longlonglaobiao" class="nav-link">
            <i class="nav-icon fa fa-code"></i>
            <p>
              代码贡献
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
