<aside class="control-sidebar control-sidebar-dark">
  <div class="p-3">
    <h6>补充说明</h6>

    <p style="font-size: 20px;">
      使用过程中出现的问题请及时反馈
      <br /><br />
      联系： 2719330946
      <br />
      github： https://github.com/longlonglaobiao
    </p>
  </div>
</aside>
