<aside class="control-sidebar control-sidebar-dark">
  <div class="p-3">
    <h6>补充说明</h6>

    <p style="font-size: 20px;">
      本系统适用于各个年级各个阶段的学生，主要用于帮助学生作业管理。希望在各自学习的领域中能够给各位添一把柴，加一把火。
      <br /><br />
      祝愿各位学子所学有成，不负韶华，梦想成真！
    </p>
  </div>
</aside>
