<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<!-- <base href="http://192.168.43.93:3000" /> -->
<title>作业管理系统</title>
<link rel="shortcut icon" href="/Logo.png" />
<link rel="stylesheet" href="/plugins/fontawesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/plugins/adminlte/adminlte.min.css" />

<style>
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
