.biao-tree {
  font-size: 0.9rem;
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.8);
}

.biao-tree ul:nth-child(1) {
  margin-left: 1rem;
  display: block;
}
.biao-tree li {
  margin-top: 0.4rem;
}
.biao-tree ul {
  margin-left: 1rem;
  display: none;
}
.biao-tree .biao-tree-title:hover {
  cursor: pointer;
  display: inline-block;
}

.biao-tree li:hover {
  cursor: pointer;
}
